@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Bitter:ital,wght@0,100..900;1,100..900&family=Milonga&display=swap');
:root{
    --main-family:"Bakbak One", sans-serif;
    --Title-family:"Bitter", serif;
    --Sub-title:  "Milonga", serif;
    --main-orange:#ff4900;
    --main-green: #28b62f;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-family);
}
body{
    width: 100%;
    min-width: 100vh;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #f2f1ef;
}
header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
header .icon_img img{
    width: 100%;
    max-width:10vh;
}
header .links{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .links a{
    margin-right:1.8vh;
    text-decoration: none;
    color: #615f5fef;
    font-size: 1em;
}
header .links a:hover,.links .active{
    color: rgb(31, 30, 30);
    transition: color 0.3s;
}

header .cv a{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 0.5em;
    font-size: 1em;

    font-family: var(--Sub-title);

    display: flex;
    align-items: center;
    justify-content: center;
}

header .cv a:hover{
    color: rgb(22, 21, 21);
    transform: translateY(-3px);
    transition: color 0.7s linear;
}
.header-squares{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header-squares div{
    width: 20vh;
    height: 20vh;
    border: 0.5px solid white;
}

.details{
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details h1{
    font-size: 3.6em;
    text-transform: uppercase;
    font-family: var(--Title-family);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.details div {
    margin-top: 3vh;
}
.details_sub {
    margin-left: 2vh;
    font-size: 1.7em;
}

.details_sub img{
    max-width: 100%;
    width: 2vh;
    margin-right: 1vh;
    font-size: var(--Sub-title);
    font-weight: 600;
}
.details_link {
    display: flex;
}
.details_link1{
    width: 21vh;
    height: 7vh;
    color: white;
    background-color: black;

    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--Sub-title);
}
.details_link2{
    width: 22vh;
    height: 7vh;
    color: black;
    border: 1px solid black;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Sub-title);
}
.divisor_container{
    width: 100%;
    transform: rotate(-1deg);
}
.divisor{
    width: 100%;
    min-height: 10vh;
    background-color: black;
    color: white;

    font-size: 1.2em;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.divisor img{
    width: 100%;
    max-width: 3vh;
}

.experiencias{
    width: 100%;
    min-height: 20vh;

    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.exp_eu{
    width: 100%;
    display: flex;

    justify-content: space-around;
    align-items: center;
}

.exp_myname p{
    font-weight: 800;
    margin-bottom: 3vh;
    font-size: 1.6em;
}

.exp_myname h3{
    font-size: 2.7em;
}
.exp_sobremim{
    display: flex;  
    flex-direction: column;
}
.exp_sobremim .exp_p{
    font-weight: 600;
    margin-bottom: 3vh;
    font-size: 2em;
}
.exp_sobremim .sobremim_span{
    margin-bottom: 3vh;
}
.data{
    width: 100%;
    display: flex;
    justify-content: space-around  ;
}
.data div{
    
}
.data span{
    font-size: 0.8em;
    color: orangered;

}

.data p{
    font-weight: 600;
    margin-top: 1vh;
    font-size: 1.2em;
}


.exp_numbers{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
.exp_numbers article{
    padding: 7vh;
    border: 1px solid black;
    text-align: center ;

    font-size: 1.6em;

    font-family: "Anton";
    font-weight: 400;
}

.exp_numbers .n1{
 color: white;
 background-color: black;
}

